#header{
    background-color: brown;
}
#profile, #languages{
    display:inline-block;
}
#languages{
    margin-left:150px;
}

#locations{
    background-color: brown;
}
#personal_info{
    background-color: brown;
}
